@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-animate {
    stroke-dasharray: 50 !important;
    stroke-dashoffset: 25;
    animation: dash 1s linear forwards;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

body {
    overflow: hidden;
}
